* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 100px;
  position: fixed;
  top: 0;
  width: 100%;
}

.card {
  width: 300px;
  margin: 60px 30px;
}

.page {
  margin-top: 60px;
}

img {
  width: 300px;
}

footer {
  height: 100px;
}